* {
  box-sizing: border-box;
}
html {
  font-family: 'Times New Roman', Times, serif;
}
body {
  margin: 0;
  background-image: url(/assets/img/bg2.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
button:focus {
  outline: none;
}
label {
  font-family: cursive;
  font-size: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  align-items: center;
  padding: 0 2.5rem;
}
header h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}
header button {
  padding: 0.5rem 0.5rem;
  background: #e7a9d8;
  border: 1px solid #fdfdfd;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active,
.btn-note:hover,
.btn-note:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #000000;
  font-weight: bold;
}
.note {
  padding: 0 1rem;
  font-family: cursive;
  font-size: 1.1rem;
  font-weight: bold;
  width: 90%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.note:hover {
  background: #ddff8d;
}
.note:active {
  background: #f3cc4b;
}

.btn-note {
  background: #1f1bdd;
  border: 1px solid #fdfdfd;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.note__form {
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 30vh;
  left: 10%;
  display: none;
}

.note__form.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}
.note-template {
  background-color: #e2e2e2;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  border: 5px double rgb(218, 214, 30);
}

.note-body {
  font-family: cur;
  font-size: 1.2rem;
  color: gold;
  display: none;
  padding: 1rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: white;
}

.note-body.visible {
  display: block;
  height: 100%;
  width: 100%;
}

.btn__actions {
  display: flex;
  justify-content: flex-end;
}

.btn__actions button {
  font: inherit;
  padding: 0.5rem 0.5rem;
  background: #ce20a2;
  border: 1px solid #fdfdfd;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.btn__actions button:hover,
.btn__actions button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #ffffff;
}

.confirm-box {
  font-family: cursive;
  font-size: 1.5rem;
  display: flex;
  position: fixed;
  background-color: #fdfdfd;
  z-index: 100;
  width: 80%;
  top: 30vh;
  left: 10%;
  display: none;
  padding: 1rem;
  border: 5px double rgb(218, 214, 30);
  text-align: center;
}

.confirm-box.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}
.confirm-box-btns {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.confirm-box-btns button {
  font: inherit;
  width: 5rem;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  background: #c2ce20;
  border: 1px solid #fdfdfd;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.confirm-box-btns button:hover:nth-child(even),
.confirm-box-btns button:active:nth-child(even) {
  background-color: #ff0000;
}

.confirm-box-btns button:hover:nth-child(odd),
.confirm-box-btns:active:nth-child(odd) {
  background-color: #1900ff;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
  pointer-events: none;
  display: none;
  background-image: url(/assets/img/bg3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
#notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#note-config .note__content {
  display: flex;
  flex-direction: column;
}

#note-title {
  font-size: 1rem;
  font-family: cursive;
  border: 3px double black;
  padding: 0 0.2rem;
  outline: none;
}
#text-box {
  font-size: 16pt;
  font-family: cursive;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  height: 30vh;
  max-width: 100%;
  max-height: 25vh;
  resize: none;
  border: 3px double black;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border-color: silver;
}
#text-box:focus {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

#note-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .note__form {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
